
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');




/* Estilo geral */


body {
    font-family: "Inria Sans", sans-serif;
    background-color: #2B2B2B; /* Fundo escuro */
    color: #fff; /* Texto branco */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
        
}

h1 {
    text-align: center;
    margin-top: -10px;
    color: red;
    
}

/* Formulário */
form {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c; /* Fundo escuro para o formulário */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    gap: 15px;
    flex-direction: column;
}

/* Seções do formulário */
form > div {
    flex: 1;
    margin: 0 10px;
}

h2 {
    font-family: "Inria Sans", sans-serif;
    text-align: center;
    color: #ffffff; /* Verde neon */
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2b2b2b;
    border: 1px solid #0f1210;
    border-radius: 5px;
    color: #fff;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 15px;
    
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}

/* Botão de submissão */
.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    background-color: #32ff7e;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #2bff00;
}

/* Estilos dinâmicos */
#broker-div, #firebase-auth {
    display: none;
    margin-top: 20px;
}



/* Responsividade */
/*@media (min-width: 768px) {
    
    form {
        flex-direction: column;
    }

    form > div {
        margin-bottom: 20px;
    }

    .submit-btn {
        margin-top: 20px;
    }
}
*/

.autenticacao-rede {
    background-color: #000000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
    margin-top: 10px;
}

.enderecos-rede {
    background-color: #000000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
    margin-top: 10px;
}

.modo-operacao {
    background-color: #000000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
    margin-top: 10px;
}

.banco-dados {
    background-color: #000000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
}

#show-password {
    display: inline-block;
}


 /*
 input[type="radio"], label {
    margin-right: -2px;
 }
